body{
    background-color: aliceblue;
    color: pink;
    text-align: center;
    font-family: cursive;
}
h1{
    font-weight: bold;
    

}
p{
    width: 300px;
    height: 300px;
   
}
.button{
    background-color: pink;
    border-radius: 5px;
   
}
#kep{
    border-radius: 10px;
    width: 200px;
   align-content: center;
}

