body{
    background-color: aliceblue;
    color: pink;
    
}
p{
    width: 300px;
    height: 300px;
}
.button{
    background-color: pink;
    border-radius: 5px;
    
}
.kep{
    border-radius: 10px;

}
